name: Run Tests & Generate Report

on: push

jobs:
	build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 21
      uses: actions/setup-java@v2
      with:
        java-version: '21'
        distribution: 'adopt'
      - run:mvn clean test

    - name: Archive Allure results
      run: mvn clean install
    - name: Run tests
      run: mvn clean test

    - name: List Allure Results Files  
      run: ls -R allure-results  
      
    - name: Generate Allure Report  
      run: |  
        mkdir -p allure-report  
        allure generate --clean allure-results -o allure-report

    - name: List Allure Report Files Before Upload  
      run: ls -R allure-report  
      
    - name: Upload Allure Report as artifact  
      uses: actions/upload-pages-artifact@v3  
      with:  
        path: 'allure-report'  

    - name: Deploy to GitHub Pages  
      id: deployment  
      uses: actions/deploy-pages@v4
